/* general */
body {
    top: 0;
    left: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    background: black;
}
.box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* for IE 9 */
    -webkit-transform: translate(-50%, -50%); /* for Safari */
    width: 1920px;
    height: 1080px;

    background: var(--a);
}

/* for hiding things */
.fadeout {
    opacity: 0%;
}
.hidden {
    display: none !important;
}

/* object tags */
.big {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}
.small {
    position: absolute;
    padding: 10px;
    border-radius: 10px;
}
.small:hover {
    background: var(--f);
}

/* dialog text */
#text {
    position: absolute;
    width: 1800px;
    height: 220px;
    top: 810px;
    left: 60px;
    color: var(--a);
    font-size: 2rem;
}

/* choices */
.choicebox {
    width: 1570px;
    height: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 200px;
    left: 175px;
}
.choicehelper {
    position: absolute;
    width: 1000px;
    height: 1rem;
    top: -4rem;
    left: calc(50% - 500px);
    color: var(--d);
    text-align: center;
}
.choice {
    border: none;
    width: 1530px;
    height: auto;
    padding: 20px;
    background: var(--d);
    color: var(--a);
    font-size: 2rem;
    font-family: inherit;
}
.choice:hover {
    cursor: pointer;
    background: var(--e);
}

/* navbar */
.nav {
    width: 450px;
    height: 2em;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 1080px;
    left: 735px;
    color: grey;
}
.nav > a {
    text-decoration: none;
}
.nav > a:visited {
    color: grey;
}
.nav > a:hover {
    cursor: pointer;
    color: white;
    font-weight: 700;
}
